@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

body, html {
    font-family: "Open Sans";
    height: 100%;
    width: 100%;
    top: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0em 10%;
    width: 100%;
}

p {
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 0.8px;
    line-height: 170%;
}
	  
h1 {
    font-size: 2.5em;
    font-weight: 100;
}

h2 {
    font-size: 2em;
    font-weight: 100;
}

h5 {
    letter-spacing: 0.8px;
}

a:hover {
    color: #5CADDC;
    text-decoration: none;
}

/* Navigation Bar */
.navbar-custom {
    transition: 500ms ease;
    background: white;
}

.navbar-fixed-top .navbar-collapse {
    max-height: none;
    height: 100vh;
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -ms-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s;
}

.navbar-custom {
    margin-bottom: 0;
}

.navbar-custom .navbar-toggle {
    color: black; 
    font-size: 1.2em;   
}

.navbar-custom .nav li a:active,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:hover {
    background: transparent;
    outline: 0;
}

.navbar-custom .navbar-toggle:active,
.navbar-custom .navbar-toggle:focus {
    outline: 0;
}

.navbar-custom .navbar-brand {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 15px 0px;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom a {
    color: black;
    font-size: 1em;
    text-align: center;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed;
}

.navbar-fixed-top {
    padding: 2em 10% 1em 10%;
}
  
.navbar a {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
}

.navbar-nav > li > a {
    padding: 0;
}

.nav > li > a {
    margin: 18px 15px;
}

.navbar-custom.scrolled {
    background: #000;
}

/* Navigation Toggle for Mobile */
.collapsing {
    -webkit-transition: height 0.01s;
    -moz-transition: height 0.01s;
    -ms-transition: height 0.01s;
    -o-transition: height 0.01s;
    transition: height 0.01s;
}

.navbar-toggle {
    background: transparent !important;
    border: none;
    margin-right: 0px;
    padding-right: 0;
}

.navbar-toggle:hover {
    background: transparent !important;
}

.navbar-toggle .icon-bar {
    background-color: black;
    width: 22px;
    transition: all 0.2s;  
}

.navbar-toggle .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggle .middle-bar {
    opacity: 0;
}

.navbar-toggle .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggle.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggle.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggle.collapsed .bottom-bar {
    transform: rotate(0);
}

.underline {
    color: #000;
    display: inline-block;
    text-decoration: none;
}

.underline::after {
    background: #000;
    display: block;	
    content: '';
    height: 1.4px;
    width: 0;
    transition: width .3s;
}

.underline:hover:after {
    width: 100%;
    transition: width .3s;
}

/* Portfolio */
.intro {
    text-align: center;
    padding: 0px 0px 50px 0px;
}

.portfolio-section, .about-section {
    padding: 110px 0 0 0;
    width: 100%;
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation: fadein 2s;
}

.portfolio-section .col-sm-6 {
    padding: 0 20px 20px 0;
}

.row {
    margin: 0;
}

.columns {
    display: flex;
    flex-wrap: wrap;
}

.project *, .gallery-item * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
}

.project img, .gallery-item img {
    vertical-align: top;
    max-width: 100%;
    backface-visibility: hidden;
}

.project figcaption {
    position: absolute;
    align-items: center;
    top: 0;
    bottom: 20px;
    left: 0;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.project h3,
.project h5 {
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0;
    opacity: 0;
    text-align: center;
}

.project h5 {
    font-size: 1.2em;
    font-style: italic;
    font-weight: normal;
    padding: 5px;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

.project a, .gallery-item a {
    position: absolute;
    top: 0;
    bottom: 20px;
    left: 0;
    right: 20px;
    z-index: 1;
}

.project:hover > img {
    opacity: 0.1;
}

.project:hover h3,
.project:hover h5 {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

.category__image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* Individual Work Descriptions */
.post-content {
    padding: 30px 0 25px;
    overflow: auto;
    margin: 0;
}

.description {
    float: left;
    padding: 0 10pt 0pt 0;
    width: 70%;
}

.tags {
    width: 25%;
    padding: 0 10pt 0pt 0;
    float: right;
}

.project-link {
    text-align: center;
    user-select: none;
}

.project-link a {
    color: black;
    margin: 10px;
}

.click {
    background-color: white;
    border: 1.5px solid black;
    padding: 10px 15px;;
    letter-spacing: 1px;
    font-size: 15px;
}

.click:hover {
    color: white;
    background-color: black;
}

.click:focus {
    outline: none;
}

.click i {
    letter-spacing: 10px;
}

/* Daily UI Gallery */
.gallery {
    margin-bottom: 30px;
    width: calc(100% - -20px);
}

.gallery .col-sm-4 {
    padding: 0 20px 20px 0;
}

.gallery-item figcaption {
    position: absolute;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 4px;
    background-color: rgba(255, 255, 255, .96);
    opacity: 0;
    bottom: 30px;
    left: 10px;
    margin-right: 30px;
    padding: 8px 12px;
    text-transform: uppercase;
    text-align: left;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
}

.gallery-item:hover figcaption {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}

/*Social Media Footer*/
.social-media-bar {
    float: right;
    padding: 30px 0px;					    	  
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation: fadein 2s;
}

.social-media-bar a {
    color: #555;
    font-size: 17px;
    padding: 0px 0px 0px 15px;
    transition: all 0.3s ease;
}

.social-media-bar a:hover {
    color: #000;
    background-color: transparent;
}

@media (max-width: 414px) {
    .description, .tags {
        padding: 0;
        width: 100%;
        float: none;
    }
}

@media (max-width: 667px) {
    h1 {
    font-size: 2.3em;
    }
}

@media (max-width: 767px) {
    .navbar-nav a {
    font-size: 2em;
    }
    .underline::after {
    content: none;
    display: none;
    }
    .social-media-bar {
    float: none;
    text-align: center;
    }
    .social-media-bar a {
    padding: 0px 15px;
    }
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
    padding: 0;
    }
}